@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 0.6; }
}

.animate-gradient {
  animation: gradient 5s ease-in-out infinite;
}
